*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.turnHeader{
    margin: 2rem;
    color: #fff;
    text-align: center;
}
